<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.SparkingMapper">

<!-- <select id="login" resultType="kr.smhrd.entity.Member">
	select memId, memPw from PMember where memId=#{memId} and memPw=#{memPw}

</select>
 -->
 
 <!-- 로그인 mapper는 Sparking Service에 어노테이션으로 작성해둠 -->
	
<insert id="join" parameterType="kr.smhrd.entity.Member">
	INSERT INTO Member (mem_Id, mem_Pw, apt_dong, apt_hnum, p_intime, p_outtime, car_num)
	VALUES (#{mem_Id},#{mem_Pw},#{apt_dong},#{apt_hnum},to_date(#{p_intime},'HH24:MI'),to_date(#{p_outtime},'HH24:MI'), #{car_num})
</insert>

<select id="loginList" resultType="kr.smhrd.entity.Member">
	select mem_Id,mem_Pw,apt_dong,apt_hnum,
	to_char(p_intime,'HH24:MI') as p_intime,to_char(p_outtime,'HH24:MI') as p_outtime,apt_num, car_num from Member 
</select>

<select id="userInfoList" resultType="kr.smhrd.entity.Member">
	select mem_Id,mem_Pw,
	to_char(p_intime,'HH24:MI') as p_intime,to_char(p_outtime,'HH24:MI') as p_outtime, car_num from Update_Info 
</select>

<!-- 회원정보 수정 -->
<update id="modifyList" parameterType="kr.smhrd.entity.Member">

	Update Member set apt_dong = #{apt_dong}, apt_hnum = #{apt_hnum}, mem_Pw = #{mem_Pw}, car_num=#{car_num}, p_intime=#{p_intime}, p_outtime = #{p_outtime}
	where mem_Id=#{mem_Id}

</update>

<update id="update" parameterType="kr.smhrd.entity.Member">

	Update Member set apt_dong = #{apt_dong}, apt_hnum = #{apt_hnum}, mem_Pw = #{mem_Pw}, 
	car_num=#{car_num}, p_intime=#{p_intime}, p_outtime = #{p_outtime}
	where mem_Id=#{mem_Id}

</update>

<!-- 아이디 중복 체크 -->

<select id="idCheck" resultType = "int">
	select count(*) form Member where mem_Id = #{mem_Id}
</select>

<!-- 가입 승인 -->
<update id="successId" parameterType="kr.smhrd.entity.Member">

	update Member set mem_grade = 1 where mem_Id = #{mem_Id}
	
</update>

<!-- 가입 거절  -->
<update id="failed" parameterType="kr.smhrd.entity.Member">
	update Member set mem_grade = 2 where mem_Id = #{mem_Id}
</update>

<!-- 회원 드롭.... -->
<update id="dropUser" parameterType="kr.smhrd.entity.Member">
	update Member set mem_grage = 3 where mem_Id = #{mem_Id}
</update>



<select id="getMember" resultType="kr.smhrd.entity.Member">
  select * from Member where mem_Id=#{mem_Id}
</select>

<select id="yesInfo" resultType="kr.smhrd.entity.Member">
select mem_Id,mem_Pw,
	to_char(p_intime,'HH24:MI') as p_intime,to_char(p_outtime,'HH24:MI') as p_outtime, car_num from Update_Info 
	where mem_Id=#{mem_Id} 
</select>


<!-- 수정 요청한 회원정보 임시 테이블에 담기 -->
<insert id="updateInfo" parameterType="kr.smhrd.entity.Member">
	insert into Update_info(mem_Id, mem_Pw, p_intime, p_outtime, car_num) 
	values(#{mem_Id}, #{mem_Pw}, to_date(#{p_intime},'HH24:MI'),to_date(#{p_outtime},'HH24:MI'), #{car_num}) 
</insert>

<!-- 회원정보 수정 승인시 -->
<update id="memUpdate" parameterType="kr.smhrd.entity.Member">
	update Member set mem_Pw = #{mem_Pw}, p_intime = #{p_intime}, p_outtime = #{p_outtime}, car_num = #{car_num} 
	where mem_Id = #{mem_Id}
</update>

<!-- 회원정보 수정 거절시 -->
<delete id="delUpInfo" parameterType="kr.smhrd.entity.Member">
	delete from Update_Info where mem_Id = #{mem_Id}</delete>
	
	
<update id="yesUpdateInfo" parameterType="kr.smhrd.entity.Member">
	update Member set mem_Pw = #{mem_Pw}, p_intime = to_date(#{p_intime},'HH24:MI'), p_outtime = to_date(#{p_outtime},'HH24:MI'), car_num = #{car_num} 
	where mem_Id = #{mem_Id}
</update>
	
<delete id="yesDeleteInfo">
	delete from Update_Info where mem_Id = #{mem_Id}
</delete>

<delete id="noDeleteInfo">
	delete from Update_Info where mem_Id = #{mem_Id}
</delete>
		
</mapper>

